body {
    margin: 0;
}

.header {
    clear: both;
    background: url(../picture/blog-details-phone/beijing.jpg);
    background-repeat: round;
    width: 100%;
    height: 62px;
}

.menu {
    float: left;
    width: 5.6%;
    margin-left: 3.75%;
}

.menu img {
    width: 100%;
    margin-top: 16px;
}

.logo {
    width:31.56%;
    margin-left: 66%;
}

.logo img {
    width: 100%;
    margin-top: 15px;
}

.logo-info {
    width: 100%;
    margin-top: 33px;
}

.logo-info li {
    list-style-type:none ;
    width: 100%;
}

.bolg-content {
    margin-top: 33px;
}

.title {
    color: #262626;
    font-size: 21px;
    margin-left: 16px;
}

.view {
    color: #F34205;
    font-size: 13px;
    margin-left: 16px;
}

.bolg-content li img {
    width: 100%;
    margin-top: 14px;
}

.info {
    color: #0C0C0C;
    font-size: 14px;
    margin-top: 29px;
    margin-left: 16px;
}

.read-all {
    color: #F34205;
    font-size: 15px;
    margin-left: 80%;
    margin-top: 0px;

}

hr {
    color: #D8D1D1;
    margin-top: 16px;
    width: 93.215%;
}

.ad-button {
    float: left;
    clear: both;
}

.ad-button li {
    list-style: none;
    display: inline-block;
    margin-top: 6px;
}

.footer{
    margin-top: 109px;
    width: 100%;
    height: 80px;
    background: #3D3C3C;
    clear: both;
    margin-left: 0px;
}

.banner {
    position: absolute;
    top:0px;
    left: 0px;
    height: 960px;
    width: 44.5%;
    background:  url(../picture/blog-details-phone/背景页.png);;
    z-index:auto;
}

.banner li {
    list-style-type: none;
    line-height: 21px;
    padding: 0;
    margin-top: 25px;
}

.banner li a {
    color: #D1D1D1;
    font-size: 20px;
    text-decoration: none;
}
















