body {
    margin: 0;
}

.header {
    clear: both;
    background: url(../picture/blog-details/beijing.jpg);
    background-repeat: round;
    width: 100%;
    height: 62px;
}

.picture {
    margin-left: 12%;
}

.picture img {
    margin-top: 7px;
    opacity: 1;
    clear: both;
}

#menu {
    text-align: center;
    float: right;
    margin: 0 0 0 0;
    overflow: hidden;
    width:56%;
}

ul {
    margin-top: 0;
    margin-bottom: 0px;
}

#menu li {
    float: left;
    width: auto;
    overflow: hidden;
    color: #bbbaba;
}

#menu li a {
    width: 90px;
    height: 38px;
    padding: 24px 0 0 0;
    line-height: 16px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #C0BEBE;
    text-decoration: none;
}

#menu .sub {
    display: block;
    position: absolute;
    top: 62px;
    margin-left: -6px;
    background: #EEEEEE;
    z-index: 1;
    width: 62px;
    height: 108px;
    border-top: 0;
    background-repeat: repeat-x;
    text-align: center;
}

#menu .sub li {
    height: 33px;
    padding: 0;
    margin-left: -35px;
    border: 0;
}

#menu .sub li a {
    height: 36px;
    width: 97px;
    color: #3E3E3E;
    padding-top: 10px;
}

#menu .sub li :hover {
    color: coral;
}

.block {
    height: 4px;
    background: #E2DDDD;
    position: absolute;
    top: 58px;
    overflow: hidden;
}

.button-information {
    top: 62px;
    width: 100%;
}

.blog-info {
    margin-top: 33px;
    width: 60%;
    padding-left: 15%;
    float: left;
}

.blog-info li {
    list-style-type: none;
    margin-top: 37px;
}

.blog-info li p {
    float: right;
    font-size: 12px;
}

.blog-info li img {
    width:100%;
    margin-top: 22px;
}

.blog-name {
    width: 369px;
    height: 22px;
    font-size: 21px;
    color: #262626;
    text-decoration: none;
}

.trade-trends {
    width: 56px;
    height: 13px;
    font-size: 13px;
    color: #373636;
}

.trade-trends:hover {
    color: coral;
}

.study-land {
    width: 56px;
    height: 13px;
    font-size: 13px;
    color: #373636;
}

.study-land:hover {
    color: coral;
}

.summery {
    line-height: 25px;
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-top: 29px;
}

.details {
    width: 100%;
}

.navigation {
    margin-top: 32px;
    width: 50%;
    padding-left: 18%;
    float: left;
}

.navigation a {
    color: #7E7D7D;
    font-size: 14px;
    text-decoration: none;
}

.navigation a :hover {
    color: coral;
    text-decoration:underline;
}

.ad-button {
    padding-left: 15%;
    float: left;
    width: 60%;
    clear: both;
}

.ad-button li {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}

.more-info {
    overflow: hidden;
    margin-top: 90px;
    margin-left: 77%;
    width: 18%;
    height: 100%;
}

.more-info img {
    width: 100%;
}

.footer{
    float: left;
    margin-top: 100px;
    width: 100%;
    height: 80px;
    background: #3D3C3C;
    clear: both;
}

