body {
    margin: 0;
}
.header {
    clear: both;
    background: url(../picture/hom-page-picture/beijing.jpg);
    background-repeat: round;
    width: 100%;
    height: 62px;
}

.picture {
    margin-left: 12%;
}
.picture img {
    margin-top: 7px;
    opacity: 1;
    clear: both;
}

.home{
    float: right;
    width: 54%;
}

.home li {
    margin-right: 8.4%;
    display: inline-block;
    list-style-type: none;
    margin-top: 6px;
}

.home li a {
    color: #C0BEBE;
    font-size: 16px;
    text-decoration: none;
}

.block {
    height: 4px;
    background: #E2DDDD;
    position: absolute;
    top: 52px;
    overflow: hidden;
    transition: 0.5s all;
}

.sub {
    display: block;
    position: absolute;
    top: 62px;
    margin-left: -34px;
    background: #EEEEEE;
    z-index: 1;
    width: 5%;
    height: 90px;
    border-top: 0;
    background-repeat: repeat-x;
    text-align: center;
}

.sub li  {
    width: 100%;
    margin-left: -32px;
}
.sub li :hover {
    color: coral;
}

.button-information {
    top: 62px;
    width: 100%;
}

.blog-info {
    margin-top: 33px;
    width: 60%;
    padding-left: 15%;
    float: left;
}

.blog-info li {
    list-style-type: none;
    margin-top: 37px;
}

.blog-info li p {
    float: right;
    font-size: 12px;
}

.blog-info li img {
    width:100%;
    margin-top: 22px;
}

.blog-name {
    width: 369px;
    height: 22px;
    font-size: 21px;
    color: #262626;
    text-decoration: none;
}

.trade-trends {
    width: 56px;
    height: 13px;
    font-size: 13px;
    color: #373636;
}

.study-land {
    width: 56px;
    height: 13px;
    font-size: 13px;
    color: #373636;
}

.summery {
    line-height: 25px;
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-top: 29px;
}

.all-info {
    font-size: 15px;
    float: right;
    margin-right: 5px;
    color: #000000;
}

.all-info:hover{
    color: coral;
}
.details {
    width: 100%;
}

.ad-button {
    padding-left: 15%;
    float: left;
    width: 60%;
    clear: both;
}

.ad-button li {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}

input {
    height: 22px;
    width: 32px;
    margin-left: 4px;
}

.top {
    float: right;
    margin-top: 55px;
}
.more-info {
    overflow: hidden;
    margin-top: 32px;
    margin-left: 77%;
    width: 18%;
    height: 100%;
}

.more-info p {
    margin-top: 49px;
    font-size: 18px;
    color: #131313;
    width: 68.5%;
    background: linear-gradient(to bottom, #EEEEEE, #D8D8D8);
    padding: 11px 9px 5px ;
}

.more-info img {
    width: 100%;
}
.more-info li  {
    font-size: 15px;
    color: #353535;
    margin-top: 13px;
    list-style-type: none;
}

.more-info li a {
    font-size: 15px;
    color: #353535;
    text-decoration: none;
}

.footer{
    float: left;
    margin-top: 100px;
    width: 100%;
    height: 80px;
    background: #3D3C3C;
    clear: both;
}

