body {
    margin: 0;
}
.header {
    clear: both;
    background: url(../picture/home-page-picture/beijing.jpg);
    background-repeat: round;
    width: 100%;
    height: 62px;
}

.picture {
    margin-left: 12%;
}

.picture img {
    margin-top: 7px;
    opacity: 1;
    clear: both;
}

#menu {
    text-align: center;
    float: right;
    margin: 0 0 0 0;
    overflow: hidden;
    width:56%;
}

ul {
    margin-top: 0;
    margin-bottom: 0px;
}
#menu li {
    float: left;
    width: auto;
    overflow: hidden;
    color: #bbbaba;
}
#menu li a {
    width: 90px;
    height: 38px;
    padding: 24px 0 0 0;
    line-height: 16px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #C0BEBE;
    text-decoration: none;
}

#menu .sub {
    display: block;
    position: absolute;
    top: 62px;
    margin-left: -6px;
    background: #EEEEEE;
    z-index: 1;
    width: 62px;
    height: 108px;
    border-top: 0;
    background-repeat: repeat-x;
    text-align: center;
}

#menu .sub li {
    height: 33px;
    padding: 0;
    margin-left: -35px;
    border: 0;
}

#menu .sub li a {
    height: 36px;
    width: 97px;
    color: #3E3E3E;
    padding-top: 10px;
}

#menu .sub li :hover {
    color: coral;
}

.block {
    height: 4px;
    background: #E2DDDD;
    position: absolute;
    top: 58px;
    overflow: hidden;
}

.button-information {
    top: 62px;
    width: 100%;
}

.blog-info {
    margin-top: 33px;
    width: 55%;
    padding-left: 10%;
    float: left;
}
.blog-info p {
    color: #777;
}

.blog-info li {
    list-style-type: none;
    margin-top: 37px;
}

.blog-info li p {
    float: right;
    font-size: 12px;
}

.blog-info li img {
    width:100%;
    margin-top: 22px;
}

.blog-name {
    width: 369px;
    height: 22px;
    font-size: 21px;
    color: #262626;
    text-decoration: none;
}

.blog-name:hover {
    color: coral;
}

.trade-trends {
    width: 56px;
    height: 13px;
    font-size: 13px;
    color: #373636;
}

.trade-trends:hover {
    color: coral;
}

.study-land {
    width: 56px;
    height: 13px;
    font-size: 13px;
    color: #373636;
}

.study-land:hover {
    color: coral;
}
.summery {
    line-height: 25px;
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-top: 29px;
}

.all-info {
    font-size: 15px;
    float: right;
    margin-right: 5px;
    color: #000000;
}

.all-info:hover{
    color: coral;
}

hr {
    color: #D8D1D1;
    width: 100%;
    margin-top: 17px;
}

.ad-button {
    padding-left: 10%;
    float: left;
    width: 55%;
    margin-top: 55px;
    clear: both;
}

.ad-button li {
    line-height: 30px;
    color: #666666;
    list-style: none;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: inline-block;
    margin-right: 4px;
}

.ad-button li span {
    margin: 3px 13px 3px 13px;
}

.ad-button li img {
    margin: 0px 20px 0px 20px;
}

input {
    height: 22px;
    width: 32px;
    margin-left: 4px;
}

.top {
    float: right;
}

.more-info {
    overflow: hidden;
    margin-top: 32px;
    margin-left: 70%;
    width: 18%;
    height: 100%;
}

.more-info p {
    margin-top: 49px;
    font-size: 18px;
    color: #131313;
    width: 68.5%;
    background: linear-gradient(to bottom, #EEEEEE, #D8D8D8);
    padding: 11px 9px 5px ;
}

.more-info img {
    width: 100%;
}

.more-info li  {
    font-size: 15px;
    color: #353535;
    margin-top: 13px;
    list-style-type: none;
}

.more-info li a {
    font-size: 15px;
    color: #353535;
    text-decoration: none;
}

.more-info li a:hover {
    color: coral;
}

.footer{
    float: left;
    margin-top: 100px;
    width: 100%;
    height: 80px;
    background: #3D3C3C;
    clear: both;
}



